.button{
    background-color: rgb(58, 187, 219);
    border: transparent;
    color: white;
    font-size: 80px;
    padding: 8px 20px;
    margin: 20px 0;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
    transition: all 0.5s;

}